@model SlowPokeIMS.Web.ViewModels.IReadOnlyNodeViewModel
@{
    var meta = await Model.Model.HasMeta ? await Model.Model.Meta : null;
}
<div class="grid--item grid--col12 d-flex fw-wrap g4">
    @if (meta == null)
    {
        <span class="ViewData["badgeClass"] s-badge__danger">Does not have meta file</span>
    }
    else
    {
        @Html.DisplayFor(m => meta)
    }
</div>