@model SlowPokeIMS.Web.ViewModels.IReadOnlyNodeViewModel
@{
    var classSize = (ViewData["classSize"] as string) ?? "";
    ViewData["badgeClass"] = string.IsNullOrEmpty(classSize) ? "s-badge" : $"s-badge s-badge{classSize}";
    ViewData["TitleSize"] = "Small";
    ViewData["TitleNodeType"] = "Folder";
    ViewData["TitleIcon"] = Config.Style.FolderIcon;
}
<div class="s-card">
    <div class="d-grid grid__12 g4">
        <partial name="NodeHeader" />
        <partial name="NodeActionsDropdown" />
        <partial name="NodeMeta" />
    </div>
</div>