@using System.Collections
@using System.Linq
@model HostsViewModel
@{

}
<h1>@ViewData["Title"]</h1>
<div class="pt96">
    <div>
        <a asp-action="HostsSearch" asp-controller="System">Search for hosts</a>
    </div>
    @foreach (var group in new KeyValuePair<string, IEnumerable>[] { new ("All", Model.AllHosts), new ("Trusted", Model.TrustedHosts), new ("Known but Untrusted", Model.KnownButUntrustedHosts) })
    {
        var ct = 0;
        <div class="pt32">
            <h2>@group.Key</h2>
            @if (group.Value != null)
            {
                foreach (var item in group.Value)
                {
                    ct++;
                    <div class="s-card">
                        <partial name="DisplayTemplates/SlowPokeHostViewModel" model="@item" />
                    </div>
                }
            }
            @if (ct == 0)
            {
                <p>No hosts</p>
            }
        </div>
    }
</div>