@model HostsViewModel
@{

}
<h1>@ViewData["Title"]</h1>
<div class="d-grid pt96">
    @if (Model.SearchResults != null && Model.SearchResults.Hosts.Any())
    {
        foreach (var item in Model.SearchResults.Hosts)
        {
            try
            {
                <div class="s-card">
                    @Html.DisplayFor(m => item)
                </div>
            }
            catch (Exception e)
            {
                <p>@Html.DisplayFor(m => e)</p>
            }
        }
    }
    else
    {
        <p>No hosts</p>
    }
</div>